html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position: relative;
}

button {
    position: absolute; # bedoeling is dat de knop onder de game over moet staan, misschien is het handiger om een knop in javascript te maken
}

